<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Post</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="../shared/style.css" />
  <link rel="stylesheet" href="./post.css" />
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="../../index.html">
        <figure class="image is-64x64-desktop is-flex is-align-items-center">
          <img src="../../resources/theBlog.svg" alt="" style="object-fit: cover;" />
        </figure>
      </a>
      <div class="navbar-item is-flex-shrink-1">
        <div class="field">
          <div class="control has-icons-left">
            </span>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- Contenido principal -->
  <main class="container is-max-desktop mt-6">
    <div class="box post-box">
      <div id="postCardContainer">
        <!-- Aquí tu post.js inyecta: avatar, autor, titulo, portada, categorias, contenido -->
        <article class="media custom-box-top" style="height: fit-content; margin-bottom: 0px;">
          <div class="media-content">
            <div class="content is-clipped">
              <!-- Autor -->
              <div class="columns is-mobile">
                <div class="column is-narrow">
                  <figure class="image is-64x64 is-flex">
                    <img id="avatarImg" src="../../resources/theBlog.svg" alt="Avatar" class="is-rounded" style="object-fit: cover;" />
                  </figure>
                </div>
                <div class="column">
                  <p>
                    <strong></strong> <small></small> <small></small>
                  </p>
                </div>
              </div>

              <!-- Titulo -->
              <p class="is-size-5"></p>

              <!-- Portada -->
              <figure class="image is-2by1" style="margin-bottom: 1.5rem;">
                <img id="portadaImg" src="" alt="Portada" style="object-fit: cover; border-radius: 0.15rem;" />
              </figure>

              <!-- Categorías -->
              <div class="columns is-mobile is-multiline"></div>
            </div>
          </div>
        </article>
      </div>

      <!-- Botones de interacción -->
      <article>
        <nav class="media-content mt-4 custom-level">
          <div class="is-flex is-align-items-center is-justify-content-center" style="gap: 2rem; position: sticky; top: 0px; ">
            <a class="level-item" aria-label="reply">
              <span class="icon is-small"><i class="fas fa-reply"></i></span>
            </a>
            <a class="level-item" aria-label="bookmark">
              <span class="icon is-small"><i class="fa-regular fa-bookmark"></i></span>
            </a>
            <a class="level-item" aria-label="like">
              <span id="heart" class="icon is-small"><i class="fa-regular fa-heart" style="color: red;"></i></span>
            </a>
          </div>
        </nav>

        <!-- Contenido del post -->
        <div id="Contenido" class="content caja custom-box-bottom" style="margin-bottom: 4rem;"></div>
      </article>

      <!-- Comentarios -->
      <!-- Numero de comentarios  -->
      <h2 class="title is-4">Comentarios: <span id="numeroComments"></span></h2>
      <div id="container-comments" class=" mt-4">

        <!-- formulario con informacion del usuario actual para escribir un cometario -->
        <article id="formulario" class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img id="fotoPerfil" src="" />
              <!-- <img id="fotoFerfil" src="https://www.gstatic.com/images/branding/product/1x/avatar_circle_blue_512dp.png" /> -->
            </p>
          </figure>
          <div class="media-content">
            <div class="field">
              <p class="control">
                <textarea id="textarea" class="textarea" placeholder="Agregar un comentario..."></textarea>
              </p>
            </div>
            <nav class="level">
              <div class="level-left">
                <div class="level-item">
                  <a id="enviarComentario" class="button is-link is-light">Enviar</a>
                </div>
              </div>
            </nav>
          </div>
        </article>

        <!-- alerta de comentario agregado o no puede comentar ("L") -->
        <div id="alertaComentario" class=""></div>

        <!-- Comentarios del usuario en el post -->
        <hr style="border: none; background-color: rgba(180, 100, 255, 0.3);">
        <div id="comentariosUser">
        </div>

        <!-- Comentarios de otros usuarios en el post -->
        <hr style="border: none; background-color: rgba(180, 100, 255, 0.3);">
        <div id="comentariosAll">
        </div>

      </div>
    </div>
  </main>

  <!-- Scripts -->
  <script src="../shared/global.js"></script>
  <script src="./post.js" type="module"></script>
  <script src="https://kit.fontawesome.com/1de6e85594.js" crossorigin="anonymous"></script>
</body>

</html>