<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../shared/style.css">
    <link rel="stylesheet" href="./perfil_usuario.css">
</head>
<body>
    
    <main>
        <div class="container is-max-desktop box">

        </div>
    </main>



    <button id="themeToggle" aria-label="Toggle Theme">
        <span class="material-icons" id="themeIcon">dark_mode</span>
    </button>

    <script src="../shared/global.js"></script>
    <script src="./perfil_usuario.js"></script>
    <script src="https://kit.fontawesome.com/1de6e85594.js" crossorigin="anonymous"></script>
</body>
</html>