<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../shared/style.css">
    <link rel="stylesheet" href="./perfil_usuario.css">
</head>


<body>
    <div class="container ">
        <div class="container  box profile-box m-4">

            <div class="fixed-grid has-3-cols has-1-cols-mobile">
                <div class="grid is-align-items-center ">

                    <!-- Avatar -->
                    <div class="cell is-col-span-1 has-text-centered">
                        <figure class="image is-128x128 mx-auto">
                            <img class="is-rounded" src="imagenPrueba.jpeg" alt="Avatar">
                        </figure>
                    </div>

                    <!-- Info -->
                    <div class="cell">
                        <h1 id="name" class="title is-3 mb-1 has-text-centered-touch">Nombre</h1>
                        <h2 id="user" class="subtitle is-5 has-text-grey-light mb-3 has-text-centered-touch">
                            @usuario</h2>
                        <p id="bio" class="content mb-3 has-text-centered-touch">
                            <i class="fa-solid fa-quote-left mr-1"></i> <span>Bio</span>
                        </p>
                        <p id="birthday" class="has-text-grey has-text-centered-touch">
                            <i class="fa-regular fa-calendar-days mr-1"></i>
                            Edad: <span>01 de enero de 2000</span>
                        </p>
                    </div>

                    <!-- Botones -->
                    <div class="cell is-col-span-1 ">

                        <div class="columns is-mobile is-centered">

    <div class="column is-full-desktop">
        <button id="abrir-modal-user" class="button is-link is-light is-fullwidth">
            Editar Usuario
        </button>
    </div>
    
    <div class="column is-full-desktop">
        <button id="abrir-modal-info" class="button is-link is-light is-fullwidth">
            Editar Información
        </button>
    </div>

</div>
                    </div>

                    <!-- Estadísticas -->
                    <div class="cell is-col-span-3 has-1-cols-mobile">
                        <div class="fixed-grid has-2-cols ">
                            <div class="grid statistics">
                                <div class="cell has-text-centered ">
                                    <p class="heading">Posts</p>
                                    <p class="title is-5">0</p>
                                </div>
                                <div class="cell has-text-centered">
                                    <p class="heading">Comments</p>
                                    <p class="title is-5">0</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>

</html>